#content {
    width: 90%;
    margin: 0 auto 100px auto;
}

/* COUNTDOWN - Inspiration http://fff.cmiscm.com/#!/section/flipclock */
/* ----------------------------------------------------------------------------------------- */
.countdown {
    display: block;
    text-align:center;
    font-weight: normal;
}
.countdown .item {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    font-weight: 700;
    font-size: 150px;
    line-height: 200px;
    text-align: center;
    color: #B7B7B7;
    border-radius: 10px;
    margin: 1% 2% 2% 0;
    padding: 0 10px;
    background: #2A2A2A;
    background: -webkit-linear-gradient(#2A2A2A, #000);
    background: linear-gradient(#2A2A2A, #000);
    overflow: hidden;
}

.countdown .item:after {
    content: '';
    display: block;
    height: 1px;
    border-top: 3px solid #111;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
}
.countdown .label {
    text-transform: uppercase;
    display: block;
    position: absolute;
    /* font-family: 'Open Sans', cursive; */
    font-weight: 700;
    line-height: normal;
    right: 6px;
    bottom: 4px;
    font-size: 14px;
    color: #B9B9B9;
}
/* .countdown .item-hh .label,
.countdown .item-mm .label,
.countdown .item-ss .label {
    display: none;
} */
