<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.medianote.herovote.vote.mapper.VoteMapper">
	<select id="isDuplicated" parameterType="com.medianote.herovote.vote.model.Vote" resultType="boolean">
		select 
			if(COUNT(*) &gt; 0,'true','false') AS my_bool
		from 
			vote
		where
			vote_ymd &gt;= DATE_FORMAT(SYSDATE(), '%Y%m01') AND vote_ymd &lt; date_format(date_add(sysdate(), INTERVAL 1 day), '%Y%m%d')
			and usr_nm = #{userName}
			and usr_bymd = #{birthday}
			and usr_cph = #{cellPhone}
	</select>
	
	<select id="existsHero" parameterType="com.medianote.herovote.vote.model.Vote" resultType="boolean">
		select
			if(COUNT(*) &lt; 1,'true','false') AS my_bool
		from
			hero
		where
			<foreach collection="heros" item="item" separator="and ">
            	#{item.id}
        	</foreach>
	</select>
	
	<insert id="insert" parameterType="com.medianote.herovote.vote.model.Vote">
		insert into vote 
			(vote_ymd, usr_nm, usr_bymd, usr_cph)
		values 
			(DATE_FORMAT(SYSDATE(), '%Y%m%d'), #{userName}, #{birthday}, #{cellPhone})
		
		<selectKey keyProperty="id" resultType="long" order="AFTER">
        	SELECT LAST_INSERT_ID()
    	</selectKey>
	</insert>
	
	<insert id="insertHeros" parameterType="com.medianote.herovote.vote.model.Vote">
		insert into vote_hero 
			(vote_seq, hero_id)
		values 
			<foreach collection="heros" item="item" separator=" , ">
            	(#{id}, #{item.id})
        	</foreach>
	</insert>
	
	<select id="selectSumForHero" parameterType="map" resultType="map">
		select 
			vh.hero_nm AS "HERO",
			count(vh.vote_hero_seq) AS "VOTE" 
		from
			vote 
			join vote_hero vh on vote.vote_seq = vh.vote_seq
			join hero on vh.hero_id = hero.hero_id
		where
			vote.vote_ymd &gt;= #{startYmd} and vote.vote_ymd &lt; #{endYmd}
		group by
			vh.hero_id
		order by 
			vh.hero_id	 
	</select>
	
	<select id="selectUsersForHero" parameterType="map" resultType="map">
		select 
			hero.hero_nm AS "HERO",
			vote.usr_nm AS "name",
			vote.usr_cph AS "phone",
			vote.usr_bymd AS "birthday" 
		from
			vote 
			join vote_hero vh on vote.vote_seq = vh.vote_seq
			join hero on vh.hero_id = hero.hero_id
		where
			vote.vote_ymd &gt;= #{startYmd} and vote.vote_ymd &lt; #{endYmd}
			and vh.hero_id = #{heroId}
	</select>
</mapper>